 .top-content-change-history{
  border: 1px solid #1F242F ;
  padding: 15px;

}
 .top-content-change-history .contract-changes{
  color:#F5F5F6;
  padding-left: 15px;
  font-family:"Inter";
  font-weight: 500;
  font-size:20px;
  padding-top: 5px;
 }
  .top-content-change-history .agreement-pdf-title{
    color: #F5F5F6;
    font-family:"Inter";
    font-weight: 300;
    font-size:16px;
    padding-left: 20px;
    padding-top: 5px;
  }
  .history-filter-title{
    color: #F5F5F6;
    font-family:"Inter";
    font-weight: 600;
    font-size:16px;
    padding-left: 12px;
    padding-top: 16px;
  }
  .sections-history .sec-history-title{
    color: #F5F5F6;
    font-family:"Inter";
    font-weight: 600;
    font-size: 14px;
  }
  .sections-history{
    margin-left: 12px;
    margin-top: 16px;
  }
  .sections-history .all{
    margin-top: 14px;
  }
   .sections-history .section-one{
    margin-top: 14px;
   }
     .sections-history .section-two{
    margin-top: 14px;
   }
     .sections-history .section-three{
    margin-top: 14px;
   }

   .all .title{
    color: #94969C;
    font-family:"Inter";
    font-weight: 400;
    font-size: 14px;
    padding-left: 8px;
   }
   .section-one .title{
    color: #94969C;
    font-family:"Inter";
    font-weight: 400;
    font-size: 14px;
    padding-left: 8px;
   }

     .section-two .title{
    color:#94969C;
    font-family:"Inter";
    font-weight: 400;
    font-size: 14px;
    padding-left: 8px;
   }

   .section-three .title{
    color: #94969C;
    font-family:"Inter";
    font-weight: 400;
    font-size: 14px;
    padding-left: 8px;
   }
   .change-history-filter{
    border: 1px solid #1F242F;
   }

  .search-container {
  position: relative;
  padding-right: 32px;

}
.active-user-sec .search-container {
  margin-top: 20px;
}
.search-container img{
  position: absolute;
  left: 12px;
  top: 50%;
  width: 20px;
  transform: translateY(-50%);
  font-size: 16px;
}

.search-container input {
  width: 320px;
  padding: 10px 12px 10px 40px;
  border: 1px solid #333741;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  color: #85888E;
  background-color: #0C111D;
}
.search-container{
  margin-top: 20px;
  margin-left: 16px;
}
.export-history-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.export-history-container .title{
color: #94969C;
font-family:"Inter";
font-weight: 600;
font-size:14px;
padding-left: 6px;
cursor: pointer;
}
.export-history-container{
  margin-right: 16px;
  margin-top: 5px;
}


.button-group .clear-btn{
  padding: 8px 12px;
  background-color:var(--clr-btn-chnge-page-btm-bg-colour);
  color:var(--clr-btn-chnge-page-btm-txt-colour);
  border: none;
  border-radius: 8px;
  border: 1px solid var(  --audit-border);
  margin-right: 20px;
  font-family:"Inter";
font-weight: 600;
font-size:14px;
}
.button-group .apply-btn{
  padding: 8px 12px;
  background-image: linear-gradient(to right, #eb2f96, #722ed1);
  color:#FFFFFF;
  border: none;
  border-radius: 8px;
  margin-right: 20px;
  font-family:"Inter";
 font-weight: 500;
 font-size:14px;

}

.button-group .apply-btn:hover{
  background-image: linear-gradient(to right, #722ed1);
}
.top-content-change-history .v3{
  color: #CECFD2;
  font-family:"Inter";
font-weight: 500;
font-size:12px;
padding:  4px 6px;
border-radius: 16px;
border: 1px solid #333741;
background-color: #161B26;
margin-left: 10px;
}
.top-content-change-history .v3 img{
  padding-left: 5px;
}

 
.Change-summ-initial .clauses-added{
  font-family: "Inter";
font-weight: 600;
font-style: Semi Bold;
font-size: 16px;
line-height: 100%;
vertical-align: middle;
color: var( --clauses-added-header-color);
margin-bottom: 0px;
}

.Change-summ-initial{
  margin-top: 20px;
  padding-left: 32px;

}

.clause-list{
  margin-top: 14px;
}

.clause-list li{
  color:var(--clauses-added-header-color) ;
  font-family:" Inter"!;
font-weight: 400;
font-style: "Regular";
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
margin-bottom: 10px;

}


.change-summ-sec{
  margin-top: 30px!important;
}

.filter-container {
  display: flex;
  flex-direction: column;
  height: 90vh; 
  align-items: center;
}



.button-group {
  margin-top: auto;
  padding: 16px;
  display: flex;
  gap: 8px;
}




